.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

a {
  text-decoration: none;
}

.item-1.fadeIn {
  animation-duration: 3s;
}
.fadeIn.item-2 {
  animation-duration: 3s;
}
.fadeIn.item-3 {
  animation-duration: 3s;
}
.fadeIn.item-4 {
  animation-duration: 3s;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 4s;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  height: 100vh;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

.small {
  font-size: xx-small;
}

.landing {
  background-color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

/* .name {
  text-align: center;
  position: relative;
  border-style: solid;
  border-radius: 50%;
  width: 256px;
  height: 64px;
  background-color: white;
  line-height: 64px;
  bottom: 0;
  left: 0;
} */

.full-grow {
  width: 256px;
  height: 64px;
  background-color: black;
  border-style: none;
  border-radius: 50%;
  font-family: "Inspiration", cursive;
  font-size: 3em;
}
.btn {
  position: relative;
  color: white;
  width: 256px;
  height: 64px;
  line-height: 64px;
  transition: all 0.3s;
  span {
    transition: all 0.3s;
    tranform: scale(1, 1);
  }
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.btn-two::before,
.btn-two::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);

  left: 96px;
  width: 64px;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.btn-two::before {
  animation-name: rotateccw;
  animation-duration: 3s;
}

.btn-two::after {
  animation-name: rotatecw;
  animation-duration: 2s;
}

@keyframes rotatecw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateccw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.name-grow {
  width: 256px;
  height: 64px;
  background-color: rgb(255, 255, 255);
  color: black;
  text-align: center;
  align-self: center;
  background: linear-gradient(-45deg, #6355a4, #6355a4, #c93e2c, #c93e2c);
  background-size: 300%;
  /* font-family: "Inspiration", cursive; */
  font-weight: 900;
  font-size: 1vw;
  border-style: none;
  border-radius: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animated_text 3s ease-in-out infinite;
  -moz-animation: animated_text 3s ease-in-out infinite;
  -webkit-animation: animated_text 3s ease-in-out infinite;
  cursor: pointer;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opactiy: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.vine-1 {
}
.vine-2 {
}
.vine-3 {
}
.vine-4 {
}

.item {
  background-color: black;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.item-1 {
  border-radius: 100%;
  background-color: black;
}
.item-2 {
}
.item-3 {
}
.item-4 {
}
.blob {
}
.hidden {
  visibility: hidden;
}
